<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Malza Finance Manager</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static "vendors/mdi/css/materialdesignicons.min.css" %}">
    <link rel="stylesheet" href="{% static "vendors/base/vendor.bundle.base.css" %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{% static "vendors/datatables.net-bs4/dataTables.bootstrap4.css" %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static "images/favicon.png" %}"/>
    <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
            <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                <a class="navbar-brand brand-logo" href="/main/"><img src="{% static "images/logo.svg" %}" alt="logo"/></a>
                <a class="navbar-brand brand-logo-mini" href="/main/"><img src="{% static "images/logo-mini.svg" %}" alt="logo"/></a>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item"><strong style="color: #0e4cfd">{% block view %}Dashboard{% endblock %}</strong></li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">

                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <span class="nav-profile-name">{{ user.username }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="/settings">
                            <i class="mdi mdi-settings text-primary"></i>
                            Settings
                        </a>
                        <a class="dropdown-item" href="/logout">
                            <i class="mdi mdi-logout text-primary"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/main/">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Main</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/goods/">
                        <i class="mdi mdi-view-list menu-icon"></i>
                        <span class="menu-title">Goods</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contractors/">
                        <i class="mdi mdi-view-list menu-icon"></i>
                        <span class="menu-title">Contractors</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/purchases/">
                        <i class="mdi mdi-file-document-box-multiple menu-icon"></i>
                        <span class="menu-title">Purchases</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sales/">
                        <i class="mdi mdi-file-document-box-multiple-outline menu-icon"></i>
                        <span class="menu-title">Sales</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notes/">
                        <i class="mdi mdi-note-multiple-outline menu-icon"></i>
                        <span class="menu-title">Notes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/income/">
                        <i class="mdi mdi-currency-usd menu-icon"></i>
                        <span class="menu-title">Extra Income</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/expenses/">
                        <i class="mdi mdi-currency-usd-off menu-icon"></i>
                        <span class="menu-title">Extra Expenses</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                {% block content %}
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="d-flex align-items-end flex-wrap">
                                </div>
                                <div class="d-flex justify-content-between align-items-end flex-wrap">
                                    <a class="btn btn-primary mt-2 mt-xl-0" href="/load_key/">Load Key</a>
                                    <a class="btn btn-primary mt-2 mt-xl-0" href="/generate_key/">Download New Key</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body dashboard-tabs p-0">
                                    <a class="nav-link" id="overview-tab">Overview</a>
                                    <div class="tab-content py-0 px-0">
                                        <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                             aria-labelledby="overview-tab">
                                            <div class="d-flex flex-wrap justify-content-xl-between">
                                                <div class="d-none d-xl-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                    <i class="mdi mdi-calendar icon-lg mr-3 text-primary"></i>
                                                    <div class="d-flex flex-column justify-content-around">
                                                        <small class="mb-1">Last 30 days</small>

                                                    </div>
                                                </div>

                                                <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                    <i class="mdi mdi-finance mr-3 icon-lg text-success"></i>
                                                    <div class="d-flex flex-column justify-content-around">
                                                        <small class="mb-1 text-muted">Income</small>
                                                        <h6 class="mr-2 mb-0">{{ last_30_days_income }} {{ user.profile.currency }}</h6>
                                                    </div>
                                                </div>
                                                <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                    <i class="mdi mdi-finance mr-3 icon-lg text-danger"></i>
                                                    <div class="d-flex flex-column justify-content-around">
                                                        <small class="mb-1 text-muted">Spendings</small>
                                                        <h5 class="mr-2 mb-0">{{ last_30_days_expenses }} PLN</h5>
                                                    </div>
                                                </div>
                                                <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                    <i class="mdi mdi-finance mr-3 icon-lg text-primary"></i>
                                                    <div class="d-flex flex-column justify-content-around">
                                                        <small class="mb-1 text-muted">Balance</small>
                                                        <h5 class="mr-2 mb-0">{{ last_30_days_balance }} PLN</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">Trade Goods</p>
                                    <div class="table">
                                        <table id="recent-purchases-listing" class="table">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>On Stock</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in goods %}
                                                <tr>
                                                    <td>{{ item.name }}</td>
                                                    <td>{{ item.on_stock }}&nbsp;{{ item.units }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a
                            href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
                    <span class="text-muted text-center text-sm-center d-block d-sm-inline-block">Version {{ version }}</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                            class="mdi mdi-heart text-danger"></i></span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="{% static "vendors/base/vendor.bundle.base.js" %}"></script>
<script src="{% static "js/malza.js" %}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="{% static "vendors/chart.js/Chart.min.js" %}"></script>
<script src="{% static "vendors/datatables.net/jquery.dataTables.js" %}"></script>
<script src="{% static "vendors/datatables.net-bs4/dataTables.bootstrap4.js" %}"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{% static "js/off-canvas.js" %}"></script>
<script src="{% static "js/hoverable-collapse.js" %}"></script>
<script src="{% static "js/template.js" %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static "js/dashboard.js" %}"></script>
<script src="{% static "js/data-table.js" %}"></script>
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<script src="{% static "js/dataTables.bootstrap4.js" %}"></script>
<!-- End custom js for this page-->
</body>

</html>

