{% extends "finance_manager/base.html" %}
{% block view %}Contractors{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <p class="card-title" style="display: inline-block">{{ view }} list:</p>
            <a class="btn btn-light mt-5 mt-xl-0 expand" style="display: inline-block; float: right;" href="add/">Add
                new</a>
            <table class="card-body">
                {% for contractor in contractors %}
                    <td>
                    <td style="width: auto"><a href="{{ contractor.id }}">{{ contractor.name }}</a></td>
                    <td><a href="delete/{{ contractor.id }}" class="btn btn-danger mt-5 mt-xl-0 expand"
                           style="float: right; padding: auto;">DELETE</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}