{% extends "finance_manager/base.html" %}

{% block view %}{{ view }}{% endblock %}

{% block content %}
<div class="card">
<div class="card-body">
<p class="card-title"style="display: inline-block">{{ view }} list:</p>
<table style="width: 100%">
<thead>
<tr>
    <th><strong>Purchases</strong></th>
    <th><strong>Sales</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td style="vertical-align: top; width: 50%;">
    {% for obj in purchases %}

        <div class="card-header">
            <h3>Contractor: {{ obj.contractor.name }}</h3>
            <h4 style="display: inline-block">Transaction date: {{ obj.date }}</h4>
            <a class="btn btn-primary mt-5 mt-xl-0 expand" style="display: inline-block">Details</a>
        </div>
            <div class="table collapse card-body">
                <table class="table">
                <thead>
                    <tr>
                        <th>Goods names</th>
                        <th>Prices per unit</th>
                        <th>Quantity bought</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in obj.items %}
                        <tr>
                            {% for value in item %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            <div style="display: inline-block; float: right">
                    <h4>Total: {{ obj.money }} PLN</h4>
                </div>
            </div>

        <br>
    {% endfor %}

</td>
<td style="vertical-align: top; width: 50%;">
    {% for obj in sales %}
        <div class="card-header" style="position: relative">
            <h3>Contractor: {{ obj.contractor.name }}</h3>
            <h4 style="display: inline-block">Transaction date: {{ obj.date }}</h4>
            <a class="btn btn-primary mt-5 mt-xl-0 expand" style="display: inline-block">Details</a>
        </div>
            <div class="table collapse card-body">
                <table class="table">
                <thead>
                    <tr>
                        <th>Goods names</th>
                        <th>Prices per unit</th>
                        <th>Quantity sold</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in obj.items %}
                        <tr>
                            {% for value in item %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            <div style="display: inline-block; float: right">
                    <h4>Total: {{ obj.money }} PLN</h4>
                </div>
            </div>

        <br>
    {% endfor %}
</td>
</tr>
</tbody>
</table>
</div>
</div>
{% endblock %}