{% extends "finance_manager/base.html" %}

{% block content %}
    {{ message|safe }}
    <form method="post" class="dynamicForm">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div>
                {{ form.as_table }}
            </div>
        {% endfor %}
        <br id="separator">
        <h3><a class="btn-primary" id="NewRow">Dodaj pozycje</a></h3>

        <input type="submit" value="{{ submit }}">
    </form>
    <p>{{ response|safe }}</p>

{% endblock %}