{% extends "finance_manager/base.html" %}

{% block view %}{{ view }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
        <p class="card-title">{{ view }} form:</p>
            {{ message|safe }}
            <form method="post" class="dynamicForm card-body">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    <div>
                        {{ form.as_table }}
                    </div>
                {% endfor %}
                <br id="separator">
                <a class="btn btn-primary mt-2 mt-xl-0" id="NewRow">Add field</a>
                <br>
                <br>
                <input class="btn btn-light mt-2 mt-xl-0" type="submit" value="{{ submit }}">
            </form>
            <p>{{ response|safe }}</p>
        </div>
    </div>
{% endblock %}