{% extends "finance_manager/base.html" %}

{% block view %}{{ view }}{% endblock %}

{% block content %}
<div class="card">
<div class="card-body">
<p class="card-title">{{ view }} list:</p>
    {% for obj in obj_list %}

        <div class="card-header">
            <h3>Contractor: {{ obj.contractor.name }}</h3>
            <h4 style="display: inline-block">Transaction date: {{ obj.date }}</h4>
            <a class="btn btn-primary mt-5 mt-xl-0 expand" style="display: inline-block">Details</a>
        </div>
            <div class="table collapse card-body">
                <table class="table">
                <thead>
                    <tr>
                        <th>Goods names</th>
                        <th>Prices per unit</th>
                        <th>Quantity bought</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in obj.items %}
                        <tr>
                            {% for value in item %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>

        <br>
    {% endfor %}
</div>
</div>
{% endblock %}