{% extends "finance_manager/base.html" %}

{% block view %}{{ view }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <p class="card-title">Search Purchases:</p>
            <form method="post" class="card-body, form-group">
                <table>
                {% csrf_token %}
                {{ form.as_table }}
                </table>
                <input type="submit" class="btn btn-light mt-2 mt-xl-0" value="Search!">
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-title" style="display: inline-block">{{ view }} list:</p>
            <a class="btn btn-light mt-5 mt-xl-0 expand" style="display: inline-block; float: right;" href="add/">Add
                new</a>
            {% for income in data %}
                <div class="card-header">
                    <h3>{{ income.name }}</h3>
                    <h4 style="display: inline-block">{{ income.date }}</h4>
                    <a class="btn btn-primary mt-5 mt-xl-0 expand" style="display: inline-block">Details</a>
                </div>
                <div class="card-body collapse">
                    <h4>Amount: {{ income.amount }} PLN</h4>
                    <h5>Description:{{ income.description }}</h5>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}